## Phase 3 (Data Preparation):  v4: (Int)

* Autorin: Anna (i3-Versicherung)
* Webseite: [Data Science Training - Kapitel 5](https://data-science.training/kapitel-5/)
* Datum: 23.03.2023

Wir führen eine verbesserte Datenvorbereitung durch.

* Der Cabin-Wert zur PassengerId 873 wird gelöscht
* Neues Feature: KnownCabin (1 = Kabine ist bekannt, 0 = Kabine ist unbekannt [Cabin: Missing Value bzw. NaN])
* Neues Feature: Child (Age < 12)
* Schätzen von Embarked Missing Values: Modus 'S'
* Schätzen von Fare Missing Values: Konstanter Wert 7,896
* Neues Feature: Title (aus Name)
* Neues Feature: FamilySizeBinned (aus SibSp und Parch)
* Neues Feature: FareBinned (aus Fare)

Unser Ziel von Version 4 ist es, Attribute (bzw. Features) zu erstellen, die nur die Werte 0 und 1 enthalten, also vom Datentyp Int sind (Boolean).

Hierzu benutzen wir One Hot Encoding, um sogenannte Dummy-Variablen als neue Features zu erzeugen.

* One Hot Encoding: Pclass, Sex, Embarked, Title, FamilySizeBinned, FareBinned => binäre Dummy-Variablen

Mit Hilfe einer Korrelationsanalyse werden wir Features filtern, deren Korrelationskoeffizient die Schwelle von 0,75 überschreitet. In diesem Fall sind die Features stark abhängig voneinander.

In [4]:
# Pandas Paket (Package) importieren
#  Datenstrukturen und Datenanalyse, I/O
#  https://pandas.pydata.org/pandas-docs/stable/
import pandas as pd
# NumPy Paket (Package) importieren
#  Mehrdimensionale Datenstrukturen (Vektoren, Matrizen, Tensoren, Arrays), Lineare Algebra
#  https://numpy.org/doc/
import numpy as np
# Eigene Module importieren
#  zur Berechnung der Korrelationskoeffizienten
import sys
sys.path.append('../00_DST_Module/')
import dst_correlation_functions as cf

In [5]:
# Trainings- und Testdaten als Pandas Data Frame (df) aus CSV-Dateien laden
#  (KNIME: "CSV Reader")
df_train = pd.read_csv('../../data/titanic/original/train.csv')
df_test  = pd.read_csv('../../data/titanic/original/test.csv')

In [6]:
# Trainings- und Testdaten zusammenführen
#  (KNIME "Concatenate")
df = pd.concat([df_train, df_test], ignore_index=True)

In [7]:
# Datentypen automatisch konvertieren
df = df.convert_dtypes()

In [8]:
# Fehlende Werte prüfen
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [9]:
# Falsche Kabinennummer löschen
#  (KNIME: "Rule Engine")
display(df[df['Cabin'] == 'B51 B53 B55'])
display(df[df['PassengerId'] == 873])
df.loc[872, 'Cabin'] = np.nan
display(df[df['PassengerId'] == 873])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0,B51 B53 B55,S
1234,1235,<NA>,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,PC 17755,512.3292,B51 B53 B55,C

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0,B51 B53 B55,S

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0,<NA>,S

In [10]:
# Neues Feature: KnownCabin
#  (KNIME: "Rule Engine")
df['KnownCabin'] = (df['Cabin'].notna()).astype('int')

In [11]:
# Neues Feature: Child
#  (KNIME: "Rule Engine")
df['Child'] = (df['Age'] < 12).fillna(False).astype('int')

In [12]:
# Fehlende Werte behandeln (d.h. schätzen) - Teil 1
#  (KNIME: "Missing Values")
# Embarked (Nominalskala): 2 fehlende Werte => Benutze den Modus (häufigster Wert)
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].dropna().mode()[0])

In [13]:
# Fehlende Werte behandeln (d.h. schätzen) - Teil 2
#  (KNIME: "Missing Values")
# Fare (Kardinalskala): 1 fehlender Wert => Benutze den konstanten Wert 7,896
#df['Fare'] = df['Fare'].fillna(7.896)
display(df[df['Fare'].isna()])
df.loc[1043, 'Fare'] = 7.896
display(df[df['PassengerId'] == 1044])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,KnownCabin,Child
1043,1044,<NA>,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,<NA>,<NA>,S,0,0

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,KnownCabin,Child
1043,1044,<NA>,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,7.896,<NA>,S,0,0

In [14]:
# Hinweis: Wir löschen später die Features Age und Cabin.
# Deshalb ersetzen wir zu diesen Features keine fehlenden Werte.

In [15]:
# Neues Feature Title
#  (KNIME: "Cell Splitter", "Column Renamer", "Table Creator", "Cell Replacer")
df['Title'] = df['Name'].str.split(', ', expand=True)[1].str.split('.', expand=True)[0]
df['Title'] = df['Title'].replace(['Ms', 'Mlle'], 'Miss')
df['Title'] = df['Title'].replace(['Mme', 'Lady', 'the Countess', 'Dona'], 'Mrs')
df['Title'] = df['Title'].replace(['Dr', 'Col', 'Major', 'Jonkheer', 'Capt', 'Sir', 'Don', 'Rev'], 'Rare')

In [16]:
# Neues Feature FamilySizeBinned
#  (KNIME: "Math Formula", "Table Creator", "Binner (Dictionary)")
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
bins   = [0, 2, 5, 99]
labels = ['No', 'Small', 'Large']
df['FamilySizeBinned'] = pd.cut(df['FamilySize'], bins, right=False, labels=labels)

In [17]:
# Neues Feature FareBinned
#  (KINME: "Table Creator", "Binner (Dictionary)")
bins   = [-1, 8, 16, 32, 1024]
labels = ['Low', 'Medium', 'High', 'VeryHigh']
df['FareBinned'] = pd.cut(df['Fare'], bins, right=False, labels=labels)

In [18]:
# Ergebnis des Feature Engineering anzeigen
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PassengerId       1309 non-null   Int64
 1   Survived          891 non-null    Int64
 2   Pclass            1309 non-null   Int64
 3   Name              1309 non-null   string
 4   Sex               1309 non-null   string
 5   Age               1046 non-null   Float64
 6   SibSp             1309 non-null   Int64
 7   Parch             1309 non-null   Int64
 8   Ticket            1309 non-null   string
 9   Fare              1309 non-null   Float64
 10  Cabin             294 non-null    string
 11  Embarked          1309 non-null   string
 12  KnownCabin        1309 non-null   int32
 13  Child             1309 non-null   int32
 14  Title             1309 non-null   string
 15  FamilySize        1309 non-null   Int64
 16  FamilySizeBinned  1309 non-null   category
 17  FareBinned        1309 non-null   category
dtypes: Float64(2), Int64(6), category(2), int32(2), string(6)
memory usage: 166.6 KB

In [19]:
# One Hot Encoding => Dummy-Variablen
#  für Pclass, Sex, Embarked, Title, FamilySizeBinned, FareBinned
cols  = ['Pclass', 'Sex', 'Embarked', 'Title', 'FamilySizeBinned', 'FareBinned']
df = pd.get_dummies(df, columns=cols, dtype=int)
# Ergebnis anzeigen
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PassengerId             1309 non-null   Int64
 1   Survived                891 non-null    Int64
 2   Name                    1309 non-null   string
 3   Age                     1046 non-null   Float64
 4   SibSp                   1309 non-null   Int64
 5   Parch                   1309 non-null   Int64
 6   Ticket                  1309 non-null   string
 7   Fare                    1309 non-null   Float64
 8   Cabin                   294 non-null    string
 9   KnownCabin              1309 non-null   int32
 10  Child                   1309 non-null   int32
 11  FamilySize              1309 non-null   Int64
 12  Pclass_1                1309 non-null   int32
 13  Pclass_2                1309 non-null   int32
 14  Pclass_3                1309 non-null   int32
 15  Sex_female              1309 non-null   int32
 16  Sex_male                1309 non-null   int32
 17  Embarked_C              1309 non-null   int32
 18  Embarked_Q              1309 non-null   int32
 19  Embarked_S              1309 non-null   int32
 20  Title_Master            1309 non-null   int32
 21  Title_Miss              1309 non-null   int32
 22  Title_Mr                1309 non-null   int32
 23  Title_Mrs               1309 non-null   int32
 24  Title_Rare              1309 non-null   int32
 25  FamilySizeBinned_No     1309 non-null   int32
 26  FamilySizeBinned_Small  1309 non-null   int32
 27  FamilySizeBinned_Large  1309 non-null   int32
 28  FareBinned_Low          1309 non-null   int32
 29  FareBinned_Medium       1309 non-null   int32
 30  FareBinned_High         1309 non-null   int32
 31  FareBinned_VeryHigh     1309 non-null   int32
dtypes: Float64(2), Int64(5), int32(22), string(3)
memory usage: 223.8 KB

### Zwischenergebnis

Wir haben viele neue Features erstellt. Nun werden wir die Attribute herausfiltern, die als Basis für diese neuen Features benutzt wurden. Also:

* Name   (wird durch Title ersetzt)
* Age    (wird durch Child ersetzt und hat außerdem fehlende Werte)
* SibSp  (wird durch FamilySize ersetzt)
* Parch  (wird durch FamilySize ersetzt)
* Fare   (wird durch FareBinned ersetzt)
* Cabin  (wird durch KnownCabin ersetzt und hat außerdem fehlende Werte)

Für ein neu gebildetes Feature gilt das aber auch:

* FamilySize (wird durch FamilySizeBinned bzw. deren Dummy-Variablen ersetzt)

Schließlich hat das Attribut Ticket keine Bedeutung für die Datenanalyse, es wird also als irrelevant betrachtet und kann ebenfalls herausgefiltert werden:

* Ticket (irrelevant)

In [21]:
# Aufräumen: Attribute (manuell) herausfiltern
#  (KNIME "Column Filter")
df = df.drop(['Name', 'Age', 'SibSp', 'Parch', 'Fare' , 'Cabin', 'FamilySize', 'Ticket'], axis=1)
# Ergebnis anzeigen
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PassengerId             1309 non-null   Int64
 1   Survived                891 non-null    Int64
 2   KnownCabin              1309 non-null   int32
 3   Child                   1309 non-null   int32
 4   Pclass_1                1309 non-null   int32
 5   Pclass_2                1309 non-null   int32
 6   Pclass_3                1309 non-null   int32
 7   Sex_female              1309 non-null   int32
 8   Sex_male                1309 non-null   int32
 9   Embarked_C              1309 non-null   int32
 10  Embarked_Q              1309 non-null   int32
 11  Embarked_S              1309 non-null   int32
 12  Title_Master            1309 non-null   int32
 13  Title_Miss              1309 non-null   int32
 14  Title_Mr                1309 non-null   int32
 15  Title_Mrs               1309 non-null   int32
 16  Title_Rare              1309 non-null   int32
 17  FamilySizeBinned_No     1309 non-null   int32
 18  FamilySizeBinned_Small  1309 non-null   int32
 19  FamilySizeBinned_Large  1309 non-null   int32
 20  FareBinned_Low          1309 non-null   int32
 21  FareBinned_Medium       1309 non-null   int32
 22  FareBinned_High         1309 non-null   int32
 23  FareBinned_VeryHigh     1309 non-null   int32
dtypes: Int64(2), int32(22)
memory usage: 135.6 KB

In [22]:
# Version 4: Datentyp int, Ausnahme Attribut Survived
#df['Survived'] = df['PassengerId'].astype('int') # Ausnahme: Primärschlüsselattribut
# Ergebnis anzeigen
#df.info()

In [23]:
# Korrelationen: Numerische Attribute
corr_matrix = cf.dst_correlation_matrix(df)
display(corr_matrix)
#
corr_measures = cf.dst_correlation_measures_filtered(corr_matrix)
display(corr_measures)

,PassengerId,Survived,KnownCabin,Child,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,...,Title_Mr,Title_Mrs,Title_Rare,FamilySizeBinned_No,FamilySizeBinned_Small,FamilySizeBinned_Large,FareBinned_Low,FareBinned_Medium,FareBinned_High,FareBinned_VeryHigh
PassengerId,1.000000,-0.005007,-0.001264,-0.033648,0.026495,0.022714,-0.041544,-0.013406,0.013406,0.048101,...,0.014116,0.036282,-0.005303,0.028546,0.002975,-0.063415,0.028169,-0.018852,-0.028927,0.018074
Survived,-0.005007,1.000000,0.319572,0.112119,0.285904,0.093349,-0.322308,0.543351,-0.543351,0.168240,...,-0.549199,0.347864,-0.031348,-0.203367,0.279855,-0.125147,-0.210437,-0.094687,0.076704,0.244339
KnownCabin,-0.001264,0.319572,1.000000,-0.053539,0.774726,-0.175749,-0.526260,0.138923,-0.138923,0.259501,...,-0.133529,0.176986,0.067705,-0.177508,0.212918,-0.056032,-0.287059,-0.241127,-0.029179,0.581303
Child,-0.033648,0.112119,-0.053539,1.000000,-0.121609,0.020174,0.088684,0.060249,-0.060249,-0.027987,...,-0.314010,-0.116419,-0.038911,-0.324950,0.182293,0.301205,-0.161952,-0.017647,0.199392,-0.004378
Pclass_1,0.026495,0.285904,0.774726,-0.121609,1.000000,-0.296526,-0.622172,0.107371,-0.107371,0.325722,...,-0.099725,0.154347,0.121721,-0.126551,0.165965,-0.067523,-0.321473,-0.348468,0.039468,0.663072
Pclass_2,0.022714,0.093349,-0.175749,0.020174,-0.296526,1.000000,-0.563180,0.028862,-0.028862,-0.134675,...,-0.038595,0.064672,0.060296,-0.035075,0.097270,-0.118495,-0.294595,0.269863,0.164084,-0.131007
Pclass_3,-0.041544,-0.322308,-0.526260,0.088684,-0.622172,-0.563180,1.000000,-0.116562,0.116562,-0.171430,...,0.117925,-0.186564,-0.154747,0.138250,-0.223338,0.155560,0.519648,0.080292,-0.168658,-0.466329
Sex_female,-0.013406,0.543351,0.138923,0.060249,0.107371,0.028862,-0.116562,1.000000,-1.000000,0.066564,...,-0.870678,0.572861,-0.094406,-0.284537,0.255196,0.077748,-0.173201,-0.057553,0.070745,0.173511
Sex_male,0.013406,-0.543351,-0.138923,-0.060249,-0.107371,-0.028862,0.116562,-1.000000,1.000000,-0.066564,...,0.870678,-0.572861,0.094406,0.284537,-0.255196,-0.077748,0.173201,0.057553,-0.070745,-0.173511
Embarked_C,0.048101,0.168240,0.259501,-0.027987,0.325722,-0.134675,-0.171430,0.066564,-0.066564,1.000000,...,-0.065538,0.107572,0.022153,-0.107874,0.159594,-0.092825,-0.082218,-0.102088,-0.052162,0.243330
Embarked_Q,0.011585,0.003650,-0.141951,-0.036553,-0.166101,-0.121973,0.243706,0.088651,-0.088651,-0.164166,...,-0.080224,-0.108114,-0.008314,0.127214,-0.122491,-0.018423,0.316820,-0.078181,-0.092810,-0.161318
Embarked_S,-0.049836,-0.149683,-0.138716,0.047975,-0.181800,0.196532,-0.003805,-0.115193,0.115193,-0.778262,...,0.108924,-0.026138,-0.014263,0.014246,-0.062909,0.093671,-0.129101,0.139888,0.105127,-0.112112
Title_Master,0.002254,0.085221,-0.040823,0.623583,-0.084504,-0.016933,0.086998,-0.164375,0.164375,-0.014172,...,-0.258902,-0.094164,-0.031472,-0.265355,0.120166,0.301809,-0.120210,-0.004052,0.112803,0.021351
Title_Miss,-0.049311,0.335636,0.003220,0.177016,-0.013879,-0.022679,0.030600,0.676028,-0.676028,-0.016251,...,-0.588603,-0.214078,-0.071551,-0.020736,-0.020729,0.082200,0.005084,-0.027410,-0.023475,0.045974
Title_Mr,0.014116,-0.549199,-0.133529,-0.314010,-0.099725,-0.038595,0.117925,-0.870678,0.870678,-0.065538,...,1.000000,-0.498777,-0.166706,0.386262,-0.300872,-0.194207,0.239647,0.056700,-0.126494,-0.188472
Title_Mrs,0.036282,0.347864,0.176986,-0.116419,0.154347,0.064672,-0.186564,0.572861,-0.572861,0.107572,...,-0.498777,1.000000,-0.060632,-0.356540,0.363503,0.012319,-0.234383,-0.044641,0.116051,0.180458
Title_Rare,-0.005303,-0.031348,0.067705,-0.038911,0.121721,0.060296,-0.154747,-0.094406,0.094406,0.022153,...,-0.166706,-0.060632,1.000000,0.014647,0.003716,-0.036801,-0.075595,-0.000386,0.044942,0.036314
FamilySizeBinned_No,0.028546,-0.203367,-0.177508,-0.324950,-0.126551,-0.035075,0.138250,-0.284537,0.284537,-0.107874,...,0.386262,-0.356540,0.014647,1.000000,-0.873398,-0.318944,0.409315,0.170016,-0.272375,-0.343798
FamilySizeBinned_Small,0.002975,0.279855,0.212918,0.182293,0.165965,0.097270,-0.223338,0.255196,-0.255196,0.159594,...,-0.300872,0.363503,0.003716,-0.873398,1.000000,-0.183007,-0.349855,-0.095480,0.198819,0.274715
FamilySizeBinned_Large,-0.063415,-0.125147,-0.056032,0.301205,-0.067523,-0.118495,0.155560,0.077748,-0.077748,-0.092825,...,-0.194207,0.012319,-0.036801,-0.318944,-0.183007,1.000000,-0.145418,-0.157393,0.162911,0.159392
FareBinned_Low,0.028169,-0.210437,-0.287059,-0.161952,-0.321473,-0.294595,0.519648,-0.173201,0.173201,-0.082218,...,0.239647,-0.234383,-0.075595,0.409315,-0.349855,-0.145418,1.000000,-0.375707,-0.324092,-0.344480
FareBinned_Medium,-0.018852,-0.094687,-0.241127,-0.017647,-0.348468,0.269863,0.080292,-0.057553,0.057553,-0.102088,...,0.056700,-0.044641,-0.000386,0.170016,-0.095480,-0.157393,-0.375707,1.000000,-0.319757,-0.339872
FareBinned_High,-0.028927,0.076704,-0.029179,0.199392,0.039468,0.164084,-0.168658,0.070745,-0.070745,-0.052162,...,-0.126494,0.116051,0.044942,-0.272375,0.198819,0.162911,-0.324092,-0.319757,1.000000,-0.293180
FareBinned_VeryHigh,0.018074,0.244339,0.581303,-0.004378,0.663072,-0.131007,-0.466329,0.173511,-0.173511,0.243330,...,-0.188472,0.180458,0.036314,-0.343798,0.274715,0.159392,-0.344480,-0.339872,-0.293180,1.000000

Sex_female           Sex_male                  1.000000
FamilySizeBinned_No  FamilySizeBinned_Small    0.873398
Sex_female           Title_Mr                  0.870678
Embarked_C           Embarked_S                0.778262
KnownCabin           Pclass_1                  0.774726
dtype: float64

### Schlussfolgerungen

Zwischen einigen Attributen (bzw. Features) gibt es starke Zusammenhänge:

* Sex_female           und Sex_male
* Sex_female           und Title_Mr
* FamilySizeBinned_No  und FamilySizeBinned_Small
* Embarked_C           und Embarked_S
* KnownCabin           und Pclass_1

Wir können also jeweils eines dieser Feature eliminieren. Wir können beispielsweise die Features der linken Seite behalten:

* Sex_female
* FamilySizeBinned_No
* Embarked_C
* KnownCabin

Und entsprechend können wir die Features der rechten Seite herausfiltern:

* Sex_male
* Title_Mr
* FamilySizeBinned_Small
* Embarked_S
* Pclass_1

Prinzipiell wäre aber auch eine Mischung möglich. In der KNIME Analytics Platform werden beispielsweise die folgenden Features herausgefiltert:

* Sex_female
* Title_Mr
* FamilySizeBinned_Small
* Embarked_C
* Pclass_1

Wir entscheiden uns dafür die gleichen Features wie bei KNIME herauszufiltern, um mit den gleichen Daten weiterarbeiten zu können.

In [25]:
# Aufräumen: Attribute (manuell) herausfiltern
#  (KNIME "Column Filter")
df = df.drop(['Sex_female', 'Title_Mr', 'FamilySizeBinned_Small', 'Embarked_C', 'Pclass_1'], axis=1)
# Ergebnis anzeigen
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PassengerId             1309 non-null   Int64
 1   Survived                891 non-null    Int64
 2   KnownCabin              1309 non-null   int32
 3   Child                   1309 non-null   int32
 4   Pclass_2                1309 non-null   int32
 5   Pclass_3                1309 non-null   int32
 6   Sex_male                1309 non-null   int32
 7   Embarked_Q              1309 non-null   int32
 8   Embarked_S              1309 non-null   int32
 9   Title_Master            1309 non-null   int32
 10  Title_Miss              1309 non-null   int32
 11  Title_Mrs               1309 non-null   int32
 12  Title_Rare              1309 non-null   int32
 13  FamilySizeBinned_No     1309 non-null   int32
 14  FamilySizeBinned_Large  1309 non-null   int32
 15  FareBinned_Low          1309 non-null   int32
 16  FareBinned_Medium       1309 non-null   int32
 17  FareBinned_High         1309 non-null   int32
 18  FareBinned_VeryHigh     1309 non-null   int32
dtypes: Int64(2), int32(17)
memory usage: 110.1 KB

In [26]:
# Daten wieder aufteilen
#  (KNIME: "Row Splitter")
df_train = df[df['Survived'].notna()]
df_test  = df[df['Survived'].isna()]

In [27]:
# Irrelevante Attribute filtern
#  (KNIME: "Column Filter")
# Trainingsdaten: PassengerId
df_train = df_train.drop(['PassengerId'], axis=1)
# Testdaten: Survived
df_test = df_test.drop(['Survived'], axis=1)

In [28]:
display(df_train.head())

,Survived,KnownCabin,Child,Pclass_2,Pclass_3,Sex_male,Embarked_Q,Embarked_S,Title_Master,Title_Miss,Title_Mrs,Title_Rare,FamilySizeBinned_No,FamilySizeBinned_Large,FareBinned_Low,FareBinned_Medium,FareBinned_High,FareBinned_VeryHigh
0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0,0,0
1,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
2,1,0,0,0,1,0,0,1,0,1,0,0,1,0,1,0,0,0
3,1,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1
4,0,0,0,0,1,1,0,1,0,0,0,0,1,0,0,1,0,0

In [29]:
display(df_test.head())

,PassengerId,KnownCabin,Child,Pclass_2,Pclass_3,Sex_male,Embarked_Q,Embarked_S,Title_Master,Title_Miss,Title_Mrs,Title_Rare,FamilySizeBinned_No,FamilySizeBinned_Large,FareBinned_Low,FareBinned_Medium,FareBinned_High,FareBinned_VeryHigh
891,892,0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0
892,893,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0
893,894,0,0,1,0,1,1,0,0,0,0,0,1,0,0,1,0,0
894,895,0,0,0,1,1,0,1,0,0,0,0,1,0,0,1,0,0
895,896,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0

In [30]:
# Daten als Excel-Dateien speichern
#  (KNIME: "Excel Writer")
# Trainingsdaten
df_train.to_excel('../../data/titanic/new/training_v4.xlsx', index=False)
# Testdaten
df_test.to_excel('../../data/titanic/new/test_v4.xlsx', index=False)