## Phase 6 (Deployment): Support Vector Machines

* Autorin: Anna (i3-Versicherung)
* Webseite: [Data Science Training - Kapitel 10](https://data-science.training/kapitel-10/)
* Datum: 23.03.2023

Version 5 (Float)

In [4]:
# Pandas Paket (Package) importieren
#  Datenstrukturen und Datenanalyse, I/O
#  https://pandas.pydata.org/pandas-docs/stable/
import pandas as pd
# Pickle Paket (Package) importieren
#  Objekte serialisieren
#  https://docs.python.org/3/library/pickle.html
import pickle as pk

In [5]:
# Datenversion festlegen: 5
version  = 5
# Modell-Abkürzung festlegen: svm = Support Vector Machines
shortcut = 'svm'

In [6]:
# Anwendungsdaten als Pandas Data Frame (df) aus Excel-Datei laden
#  (KNIME: "Excel Reader")
filename = '../../data/titanic/new/application_v' + str(version) + '.xlsx'
df_app   = pd.read_excel(filename)

In [7]:
# Modell laden
#  (KNIME: "PMML Reader")
filename = '../../models/titanic/new/' + shortcut + '_v' + str(version)
model    = pk.load(open(filename, 'rb'))

In [8]:
# Anwendungsdaten: Beschreibende Attribute extrahieren (ohne PassengerId)
X_app = df_app.iloc[:,1:].values

In [9]:
# Prognosen für Anwendungsdaten erstellen
#  (KNIME: "XYZ Predictor")
df_app['Prediction'] = model.predict(X_app)

In [10]:
# Ergebnisse filtern
#  (KNIME: "Column Filter")
df_res = df_app.filter(['PassengerId', 'Prediction'])
# Ergebnisse anzeigen
display(df_res)

    PassengerId  Prediction
0          1310           0
1          1311           0
2          1312           0
3          1313           0
4          1314           0
5          1315           1
6          1316           1
7          1317           1
8          1318           1
9          1319           1
10         1320           0
11         1321           1
12         1322           0
13         1323           1
14         1324           1
15         1325           0
16         1326           0
17         1327           1
18         1328           0
19         1329           0
20         1330           1
21         1331           0
22         1332           0