## Phase 2 (Data Understanding): Fare

* Autorin: Anna (i3-Versicherung)
* Webseite: [Data Science Training - Kapitel 4](https://data-science.training/kapitel-4/)
* Datum: 23.03.2023

Wir nehmen eine Schätzung für den fehlenden Wert des Attributs Fare vor.

In [1]:
# Pandas Paket (Package) importieren
#  Datenstrukturen und Datenanalyse, I/O
#  https://pandas.pydata.org/pandas-docs/stable/
import pandas as pd

In [2]:
# Trainings- und Testdaten als Pandas Data Frame (df) aus CSV-Dateien laden
#  (KNIME: "CSV Reader")
df_train = pd.read_csv('../../data/titanic/original/train.csv')
df_test  = pd.read_csv('../../data/titanic/original/test.csv')

In [3]:
# Trainings- und Testdaten zusammenführen
#  (KNIME "Concatenate")
df = pd.concat([df_train, df_test], ignore_index=True)

In [4]:
# Datentypen automatisch konvertieren
df = df.convert_dtypes()

In [5]:
# Fehlende Werte prüfen
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [6]:
# Datensatz mit fehlenden Wert zu Fare filtern und ausgeben
fare_missing = df[df['Fare'].isna()]
display(fare_missing)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1043,1044,<NA>,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,<NA>,<NA>,S

In [7]:
# Gibt es noch weitere Passagiere, die mit der gleichen Ticketnummer gereist sind?
#  (Falls ja, dann hätten alle den gleichen Ticket-Preis gezahlt.)
display(df[df['Ticket']=='3701'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1043,1044,<NA>,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,<NA>,<NA>,S

In [8]:
# Gibt es noch weitere Passagiere, die mit einer ähnlichen Ticketnummer gereist sind?
display(df.query('Ticket.str.contains("3701")', engine='python'))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,<NA>,S
424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.0,1,1,370129,20.2125,<NA>,S
1043,1044,<NA>,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,<NA>,<NA>,S
1175,1176,<NA>,3,"Rosblom, Miss. Salli Helena",female,2.0,1,1,370129,20.2125,<NA>,S

#### Zwischenergebnis

* Es gibt nur einen fehlenden Wert zum Attribut Fare (= Ticketpreis).
* Der entsprechende Passagier ist alleine in der 3. Klasse gereist und in Southampton an Bord gegangen.
* Andere Attribute wie bspw. das Geschlecht haben keinen direkten Einfluss auf den Ticketpreis und werden daher nicht weiter betrachtet.

In [9]:
# Datensätze zu Passagieren mit den gleichen wesentlichen Merkmalen filtern und sortiert nach Fare anzeigen
#  Pclass=3, SibSp=0, Parch=0, Embarked='S'
fare_base = df[(df['Pclass'] == 3) & (df['SibSp'] == 0) & (df['Parch'] == 0) & (df['Embarked'] == 'S')]
fare_base = fare_base.sort_values(by=['Fare'])
pd.set_option('display.max_rows', None)
display(fare_base)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,<NA>,S
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,<NA>,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,<NA>,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,<NA>,S
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,<NA>,S
818,819,0,3,"Holm, Mr. John Fredrik Alexander",male,43.0,0,0,C 7075,6.45,<NA>,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.0,0,0,3101264,6.4958,<NA>,S
804,805,1,3,"Hedman, Mr. Oskar Arvid",male,27.0,0,0,347089,6.975,<NA>,S
129,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.975,<NA>,S
1054,1055,<NA>,3,"Pearce, Mr. Ernest",male,<NA>,0,0,343271,7.0,<NA>,S
784,785,0,3,"Ali, Mr. William",male,25.0,0,0,SOTON/O.Q. 3101312,7.05,<NA>,S
1102,1103,<NA>,3,"Finoli, Mr. Luigi",male,<NA>,0,0,SOTON/O.Q. 3101308,7.05,<NA>,S
210,211,0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.05,<NA>,S
611,612,0,3,"Jardin, Mr. Jose Neto",male,<NA>,0,0,SOTON/O.Q. 3101305,7.05,<NA>,S
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.05,<NA>,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.05,<NA>,S
465,466,0,3,"Goncalves, Mr. Manuel Estanslas",male,38.0,0,0,SOTON/O.Q. 3101306,7.05,<NA>,S
1216,1217,<NA>,3,"Assam, Mr. Ali",male,23.0,0,0,SOTON/O.Q. 3101309,7.05,<NA>,S
363,364,0,3,"Asim, Mr. Adola",male,35.0,0,0,SOTON/O.Q. 3101310,7.05,<NA>,S
631,632,0,3,"Lundahl, Mr. Johan Svensson",male,51.0,0,0,347743,7.0542,<NA>,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.0,0,0,STON/O 2. 3101275,7.125,<NA>,S
590,591,0,3,"Rintamaki, Mr. Matti",male,35.0,0,0,STON/O 2. 3101273,7.125,<NA>,S
761,762,0,3,"Nirva, Mr. Iisakki Antino Aijo",male,41.0,0,0,SOTON/O2 3101272,7.125,<NA>,S
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.0,0,0,STON/O 2. 3101274,7.125,<NA>,S
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.0,0,0,C 17369,7.1417,<NA>,S
376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.0,0,0,C 7077,7.25,<NA>,S
785,786,0,3,"Harmer, Mr. Abraham (David Lishin)",male,25.0,0,0,374887,7.25,<NA>,S
491,492,0,3,"Windelov, Mr. Einar",male,21.0,0,0,SOTON/OQ 3101317,7.25,<NA>,S
425,426,0,3,"Wiseman, Mr. Phillippe",male,<NA>,0,0,A/4. 34244,7.25,<NA>,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.0,0,0,A/5 21174,7.25,<NA>,S
470,471,0,3,"Keefe, Mr. Arthur",male,<NA>,0,0,323592,7.25,<NA>,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.25,<NA>,S
250,251,0,3,"Reed, Mr. James George",male,<NA>,0,0,362316,7.25,<NA>,S
1014,1015,<NA>,3,"Carver, Mr. Alfred John",male,28.0,0,0,392095,7.25,<NA>,S
320,321,0,3,"Dennis, Mr. Samuel",male,22.0,0,0,A/5 21172,7.25,<NA>,S
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.0,0,0,C 7076,7.25,<NA>,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.25,<NA>,S
1177,1178,<NA>,3,"Franklin, Mr. Charles (Charles Fardon)",male,<NA>,0,0,SOTON/O.Q. 3101314,7.25,<NA>,S
592,593,0,3,"Elsbury, Mr. William James",male,47.0,0,0,A/5 3902,7.25,<NA>,S
1176,1177,<NA>,3,"Dennis, Mr. William",male,36.0,0,0,A/5 21175,7.25,<NA>,S
1306,1307,<NA>,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.25,<NA>,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,<NA>,0,0,Fa 265302,7.3125,<NA>,S
514,515,0,3,"Coleff, Mr. Satio",male,24.0,0,0,349209,7.4958,<NA>,S
663,664,0,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,<NA>,S
786,787,1,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,<NA>,S
478,479,0,3,"Karlsson, Mr. Nils August",male,22.0,0,0,350060,7.5208,<NA>,S
1061,1062,<NA>,3,"Lithman, Mr. Simon",male,<NA>,0,0,S.O./P.P. 251,7.55,<NA>,S
648,649,0,3,"Willey, Mr. Edward",male,<NA>,0,0,S.O./P.P. 751,7.55,<NA>,S
1158,1159,<NA>,3,"Warren, Mr. Charles William",male,<NA>,0,0,C.A. 49867,7.55,<NA>,S
1146,1147,<NA>,3,"MacKay, Mr. George William",male,<NA>,0,0,C.A. 42795,7.55,<NA>,S
1046,1047,<NA>,3,"Duquemin, Mr. Joseph",male,24.0,0,0,S.O./P.P. 752,7.55,<NA>,S
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.55,<NA>,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,<NA>,0,0,W./C. 6609,7.55,<NA>,S
649,650,1,3,"Stanley, Miss. Amy Zillah Elsie",female,23.0,0,0,CA. 2314,7.55,<NA>,S
1203,1204,<NA>,3,"Sadowitz, Mr. Harry",male,<NA>,0,0,LP 1588,7.575,<NA>,S
1232,1233,<NA>,3,"Lundstrom, Mr. Thure Edvin",male,32.0,0,0,350403,7.5792,<NA>,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.65,<NA>,S
1236,1237,<NA>,3,"Abelseth, Miss. Karen Marie",female,16.0,0,0,348125,7.65,<NA>,S
948,949,<NA>,3,"Abelseth, Mr. Olaus Jorgensen",male,25.0,0,0,348122,7.65,F G63,S
715,716,0,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.0,0,0,348124,7.65,F G73,S
699,700,0,3,"Humblen, Mr. Adolf Mathias Nicolai Olsen",male,42.0,0,0,348121,7.65,F G63,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.65,F G73,S
953,954,<NA>,3,"Bjorklund, Mr. Ernst Herbert",male,18.0,0,0,347090,7.75,<NA>,S
406,407,0,3,"Widegren, Mr. Carl/Charles Peter",male,51.0,0,0,347064,7.75,<NA>,S
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.75,<NA>,S
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.75,<NA>,S
775,776,0,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.0,0,0,347078,7.75,<NA>,S
719,720,0,3,"Johnson, Mr. Malkolm Joackim",male,33.0,0,0,347062,7.775,<NA>,S
408,409,0,3,"Birkeland, Mr. Hans Martin Monsen",male,21.0,0,0,312992,7.775,<NA>,S
1150,1151,<NA>,3,"Midtsjo, Mr. Karl Albert",male,21.0,0,0,345501,7.775,<NA>,S
1289,1290,<NA>,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.775,<NA>,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.0,0,0,347068,7.775,<NA>,S
994,995,<NA>,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.0,0,0,347070,7.775,<NA>,S
554,555,1,3,"Ohman, Miss. Velin",female,22.0,0,0,347085,7.775,<NA>,S
675,676,0,3,"Edvardsson, Mr. Gustaf Hjalmar",male,18.0,0,0,349912,7.775,<NA>,S
1277,1278,<NA>,3,"Aronsson, Mr. Ernst Axel Algot",male,24.0,0,0,349911,7.775,<NA>,S
764,765,0,3,"Eklund, Mr. Hans Linus",male,16.0,0,0,347074,7.775,<NA>,S
982,983,<NA>,3,"Pedersen, Mr. Olaf",male,<NA>,0,0,345498,7.775,<NA>,S
667,668,0,3,"Rommetvedt, Mr. Knud Paust",male,<NA>,0,0,312993,7.775,<NA>,S
805,806,0,3,"Johansson, Mr. Karl Johan",male,31.0,0,0,347063,7.775,<NA>,S
107,108,1,3,"Moss, Mr. Albert Johan",male,<NA>,0,0,312991,7.775,<NA>,S
807,808,0,3,"Pettersson, Miss. Ellen Natalia",female,18.0,0,0,347087,7.775,<NA>,S
1088,1089,<NA>,3,"Nilsson, Miss. Berta Olivia",female,18.0,0,0,347066,7.775,<NA>,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.0,0,0,347067,7.775,<NA>,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.775,<NA>,S
1191,1192,<NA>,3,"Olsson, Mr. Oscar Wilhelm",male,32.0,0,0,347079,7.775,<NA>,S
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.775,<NA>,S
1211,1212,<NA>,3,"Andersson, Mr. Johan Samuel",male,26.0,0,0,347075,7.775,<NA>,S
1303,1304,<NA>,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.775,<NA>,S
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.0,0,0,347069,7.775,<NA>,S
499,500,0,3,"Svensson, Mr. Olof",male,24.0,0,0,350035,7.7958,<NA>,S
756,757,0,3,"Carlsson, Mr. August Sigfrid",male,28.0,0,0,350042,7.7958,<NA>,S
395,396,0,3,"Johansson, Mr. Erik",male,22.0,0,0,350052,7.7958,<NA>,S
688,689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.0,0,0,350036,7.7958,<NA>,S
1114,1115,<NA>,3,"Karlsson, Mr. Einar Gervasius",male,21.0,0,0,350053,7.7958,<NA>,S
986,987,<NA>,3,"Tenglin, Mr. Gunnar Isidor",male,25.0,0,0,350033,7.7958,<NA>,S
391,392,1,3,"Jansson, Mr. Carl Olof",male,21.0,0,0,350034,7.7958,<NA>,S
1117,1118,<NA>,3,"Asplund, Mr. Johan Charles",male,23.0,0,0,350054,7.7958,<NA>,S
1017,1018,<NA>,3,"Brobeck, Mr. Karl Rudolf",male,22.0,0,0,350045,7.7958,<NA>,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.7958,<NA>,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8,<NA>,S
933,934,<NA>,3,"Goldsmith, Mr. Nathan",male,41.0,0,0,SOTON/O.Q. 3101263,7.85,<NA>,S
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.0,0,0,347464,7.8542,<NA>,S
833,834,0,3,"Augustsson, Mr. Albert",male,23.0,0,0,347468,7.8542,<NA>,S
1086,1087,<NA>,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.0,0,0,347465,7.8542,<NA>,S
1126,1127,<NA>,3,"Vendel, Mr. Olof Edvin",male,20.0,0,0,350416,7.8542,<NA>,S
569,570,1,3,"Jonsson, Mr. Carl",male,32.0,0,0,350417,7.8542,<NA>,S
771,772,0,3,"Jensen, Mr. Niels Peder",male,48.0,0,0,350047,7.8542,<NA>,S
1152,1153,<NA>,3,"Nilsson, Mr. August Ferdinand",male,21.0,0,0,350410,7.8542,<NA>,S
623,624,0,3,"Hansen, Mr. Henry Damsgaard",male,21.0,0,0,350029,7.8542,<NA>,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,<NA>,S
640,641,0,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,<NA>,S
1190,1191,<NA>,3,"Johansson, Mr. Nils",male,29.0,0,0,347467,7.8542,<NA>,S
1209,1210,<NA>,3,"Jonsson, Mr. Nils Hilding",male,27.0,0,0,350408,7.8542,<NA>,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,<NA>,S
1048,1049,<NA>,3,"Lundin, Miss. Olga Elida",female,23.0,0,0,347469,7.8542,<NA>,S
1026,1027,<NA>,3,"Carlsson, Mr. Carl Robert",male,24.0,0,0,350409,7.8542,<NA>,S
396,397,0,3,"Olsson, Miss. Elina",female,31.0,0,0,350407,7.8542,<NA>,S
989,990,<NA>,3,"Braf, Miss. Elin Ester Maria",female,20.0,0,0,347471,7.8542,<NA>,S
315,316,1,3,"Nilsson, Miss. Helmina Josefina",female,26.0,0,0,347470,7.8542,<NA>,S
422,423,0,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.875,<NA>,S
1248,1249,<NA>,3,"Lockyer, Mr. Edward",male,<NA>,0,0,1222,7.8792,<NA>,S
1134,1135,<NA>,3,"Hyman, Mr. Abraham",male,<NA>,0,0,3470,7.8875,<NA>,S
810,811,0,3,"Alexander, Mr. William",male,26.0,0,0,3474,7.8875,<NA>,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.8958,<NA>,S
601,602,0,3,"Slabenoff, Mr. Petco",male,<NA>,0,0,349214,7.8958,<NA>,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,<NA>,0,0,349215,7.8958,<NA>,S
606,607,0,3,"Karaic, Mr. Milan",male,30.0,0,0,349246,7.8958,<NA>,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,<NA>,S
1186,1187,<NA>,3,"Angheloff, Mr. Minko",male,26.0,0,0,349202,7.8958,<NA>,S
753,754,0,3,"Jonkoff, Mr. Lalio",male,23.0,0,0,349204,7.8958,<NA>,S
628,629,0,3,"Bostandyeff, Mr. Guentcho",male,26.0,0,0,349224,7.8958,<NA>,S
410,411,0,3,"Sdycoff, Mr. Todor",male,<NA>,0,0,349222,7.8958,<NA>,S
108,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,<NA>,S
739,740,0,3,"Nankoff, Mr. Minko",male,<NA>,0,0,349218,7.8958,<NA>,S
1225,1226,<NA>,3,"Cor, Mr. Ivan",male,27.0,0,0,349229,7.8958,<NA>,S
650,651,0,3,"Mitkoff, Mr. Mito",male,<NA>,0,0,349221,7.8958,<NA>,S
738,739,0,3,"Ivanoff, Mr. Kanio",male,<NA>,0,0,349201,7.8958,<NA>,S
656,657,0,3,"Radeff, Mr. Alexander",male,<NA>,0,0,349223,7.8958,<NA>,S
76,77,0,3,"Staneff, Mr. Ivan",male,<NA>,0,0,349208,7.8958,<NA>,S
974,975,<NA>,3,"Demetri, Mr. Marinko",male,<NA>,0,0,349238,7.8958,<NA>,S
29,30,0,3,"Todoroff, Mr. Lalio",male,<NA>,0,0,349216,7.8958,<NA>,S
384,385,0,3,"Plotcharsky, Mr. Vasil",male,<NA>,0,0,349227,7.8958,<NA>,S
962,963,<NA>,3,"Minkoff, Mr. Lazar",male,21.0,0,0,349211,7.8958,<NA>,S
1156,1157,<NA>,3,"Lyntakoff, Mr. Stanko",male,<NA>,0,0,349235,7.8958,<NA>,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,<NA>,S
951,952,<NA>,3,"Dika, Mr. Mirko",male,17.0,0,0,349232,7.8958,<NA>,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,<NA>,S
294,295,0,3,"Mineff, Mr. Ivan",male,24.0,0,0,349233,7.8958,<NA>,S
287,288,0,3,"Naidenoff, Mr. Penko",male,22.0,0,0,349206,7.8958,<NA>,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,<NA>,S
1025,1026,<NA>,3,"Dintcheff, Mr. Valtcho",male,43.0,0,0,349226,7.8958,<NA>,S
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28.0,0,0,349243,7.8958,<NA>,S
223,224,0,3,"Nenkoff, Mr. Christo",male,<NA>,0,0,349234,7.8958,<NA>,S
519,520,0,3,"Pavlovic, Mr. Stefo",male,32.0,0,0,349242,7.8958,<NA>,S
878,879,0,3,"Laleff, Mr. Kristo",male,<NA>,0,0,349217,7.8958,<NA>,S
1100,1101,<NA>,3,"Delalic, Mr. Redjo",male,25.0,0,0,349250,7.8958,<NA>,S
521,522,0,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,<NA>,S
189,190,0,3,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.8958,<NA>,S
561,562,0,3,"Sivic, Mr. Husein",male,40.0,0,0,349251,7.8958,<NA>,S
794,795,0,3,"Dantcheff, Mr. Ristiu",male,25.0,0,0,349203,7.8958,<NA>,S
947,948,<NA>,3,"Cor, Mr. Bartol",male,35.0,0,0,349230,7.8958,<NA>,S
566,567,0,3,"Stoytcheff, Mr. Ilia",male,19.0,0,0,349205,7.8958,<NA>,S
321,322,0,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.8958,<NA>,S
335,336,0,3,"Denkoff, Mr. Mitto",male,<NA>,0,0,349225,7.8958,<NA>,S
901,902,<NA>,3,"Ilieff, Mr. Ylio",male,<NA>,0,0,349220,7.8958,<NA>,S
646,647,0,3,"Cor, Mr. Liudevit",male,19.0,0,0,349231,7.8958,<NA>,S
744,745,1,3,"Stranden, Mr. Juho",male,31.0,0,0,STON/O 2. 3101288,7.925,<NA>,S
936,937,<NA>,3,"Peltomaki, Mr. Nikolai Johannes",male,25.0,0,0,STON/O 2. 3101291,7.925,<NA>,S
988,989,<NA>,3,"Makinen, Mr. Kalle Edvard",male,29.0,0,0,STON/O 2. 3101268,7.925,<NA>,S
963,964,<NA>,3,"Nieminen, Miss. Manta Josefina",female,29.0,0,0,3101297,7.925,<NA>,S
816,817,0,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.925,<NA>,S
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.925,<NA>,S
1142,1143,<NA>,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.0,0,0,SOTON/O2 3101284,7.925,<NA>,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,<NA>,S
216,217,1,3,"Honkanen, Miss. Eliina",female,27.0,0,0,STON/O2. 3101283,7.925,<NA>,S
579,580,1,3,"Jussila, Mr. Eiriik",male,32.0,0,0,STON/O 2. 3101286,7.925,<NA>,S
528,529,0,3,"Salonen, Mr. Johan Werner",male,39.0,0,0,3101296,7.925,<NA>,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.0,0,0,STON/O 2. 3101280,7.925,<NA>,S
414,415,1,3,"Sundman, Mr. Johan Julian",male,44.0,0,0,STON/O 2. 3101269,7.925,<NA>,S
400,401,1,3,"Niskanen, Mr. Juha",male,39.0,0,0,STON/O 2. 3101289,7.925,<NA>,S
636,637,0,3,"Leinonen, Mr. Antti Gustaf",male,32.0,0,0,STON/O 2. 3101292,7.925,<NA>,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.925,<NA>,S
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.0,0,0,STON/O 2. 3101294,7.925,<NA>,S
1038,1039,<NA>,3,"Davies, Mr. Evan",male,22.0,0,0,SC/A4 23568,8.05,<NA>,S
1029,1030,<NA>,3,"Drapkin, Miss. Jennie",female,23.0,0,0,SOTON/OQ 392083,8.05,<NA>,S
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,<NA>,0,0,A/5 2466,8.05,<NA>,S
1021,1022,<NA>,3,"Spinner, Mr. Henry John",male,32.0,0,0,STON/OQ. 369943,8.05,<NA>,S
1020,1021,<NA>,3,"Petersen, Mr. Marius",male,24.0,0,0,342441,8.05,<NA>,S
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.0,0,0,7598,8.05,<NA>,S
372,373,0,3,"Beavan, Mr. William Thomas",male,19.0,0,0,323951,8.05,<NA>,S
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19.0,0,0,A/5. 10482,8.05,<NA>,S
984,985,<NA>,3,"Guest, Mr. Robert",male,<NA>,0,0,376563,8.05,<NA>,S
978,979,<NA>,3,"Badman, Miss. Emily Louisa",female,18.0,0,0,A/4 31416,8.05,<NA>,S
967,968,<NA>,3,"Miles, Mr. Frank",male,<NA>,0,0,359306,8.05,<NA>,S
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)",female,<NA>,0,0,343095,8.05,<NA>,S
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.0,0,0,SOTON/O.Q. 392078,8.05,E10,S
454,455,0,3,"Peduzzi, Mr. Joseph",male,<NA>,0,0,A/5 2817,8.05,<NA>,S
461,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.05,<NA>,S
927,928,<NA>,3,"Roth, Miss. Sarah A",female,<NA>,0,0,342712,8.05,<NA>,S
990,991,<NA>,3,"Nancarrow, Mr. William Henry",male,33.0,0,0,A./5. 3338,8.05,<NA>,S
222,223,0,3,"Green, Mr. George Henry",male,51.0,0,0,21440,8.05,<NA>,S
401,402,0,3,"Adams, Mr. John",male,26.0,0,0,341826,8.05,<NA>,S
464,465,0,3,"Maisner, Mr. Simon",male,<NA>,0,0,A/S 2816,8.05,<NA>,S
1304,1305,<NA>,3,"Spector, Mr. Woolf",male,<NA>,0,0,A.5. 3236,8.05,<NA>,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,<NA>,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.05,<NA>,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.05,<NA>,S
45,46,0,3,"Rogers, Mr. William John",male,<NA>,0,0,S.C./A.4. 23567,8.05,<NA>,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,<NA>,0,0,374746,8.05,<NA>,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,<NA>,0,0,SOTON/OQ 392086,8.05,<NA>,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.0,0,0,343275,8.05,<NA>,S
90,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.05,<NA>,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.0,0,0,SOTON/OQ 392089,8.05,<NA>,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,<NA>,0,0,374910,8.05,<NA>,S
112,113,0,3,"Barton, Mr. David John",male,22.0,0,0,324669,8.05,<NA>,S
1159,1160,<NA>,3,"Howard, Miss. May Elizabeth",female,<NA>,0,0,A. 2. 39186,8.05,<NA>,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,<NA>,0,0,A4. 54510,8.05,<NA>,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,<NA>,S
1148,1149,<NA>,3,"Niklasson, Mr. Samuel",male,28.0,0,0,363611,8.05,<NA>,S
157,158,0,3,"Corn, Mr. Harry",male,30.0,0,0,SOTON/OQ 392090,8.05,<NA>,S
1112,1113,<NA>,3,"Reynolds, Mr. Harold J",male,21.0,0,0,342684,8.05,<NA>,S
1110,1111,<NA>,3,"Thomson, Mr. Alexander Morrison",male,<NA>,0,0,32302,8.05,<NA>,S
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.0,0,0,A/5 3540,8.05,<NA>,S
1180,1181,<NA>,3,"Ford, Mr. Arthur",male,<NA>,0,0,A/5 1478,8.05,<NA>,S
482,483,0,3,"Rouse, Mr. Richard Henry",male,50.0,0,0,A/5 3594,8.05,<NA>,S
1307,1308,<NA>,3,"Ware, Mr. Frederick",male,<NA>,0,0,359309,8.05,<NA>,S
574,575,0,3,"Rush, Mr. Alfred George John",male,16.0,0,0,A/4. 20589,8.05,<NA>,S
563,564,0,3,"Simmons, Mr. John",male,<NA>,0,0,SOTON/OQ 392082,8.05,<NA>,S
696,697,0,3,"Kelly, Mr. James",male,44.0,0,0,363592,8.05,<NA>,S
588,589,0,3,"Gilinski, Mr. Eliezer",male,22.0,0,0,14973,8.05,<NA>,S
511,512,0,3,"Webber, Mr. James",male,<NA>,0,0,SOTON/OQ 3101316,8.05,<NA>,S
589,590,0,3,"Murdlin, Mr. Joseph",male,<NA>,0,0,A./5. 3235,8.05,<NA>,S
676,677,0,3,"Sawyer, Mr. Frederick Charles",male,24.5,0,0,342826,8.05,<NA>,S
488,489,0,3,"Somerton, Mr. Francis William",male,30.0,0,0,A.5. 18509,8.05,<NA>,S
814,815,0,3,"Tomlin, Mr. Ernest Portage",male,30.5,0,0,364499,8.05,<NA>,S
603,604,0,3,"Torber, Mr. Ernst William",male,44.0,0,0,364511,8.05,<NA>,S
668,669,0,3,"Cook, Mr. Jacob",male,43.0,0,0,A/5 3536,8.05,<NA>,S
758,759,0,3,"Theobald, Mr. Thomas Leonard",male,34.0,0,0,363294,8.05,<NA>,S
494,495,0,3,"Stanley, Mr. Edward Roland",male,21.0,0,0,A/4 45380,8.05,<NA>,S
614,615,0,3,"Brocklebank, Mr. William Alfred",male,35.0,0,0,364512,8.05,<NA>,S
564,565,0,3,"Meanwell, Miss. (Marion Ogden)",female,<NA>,0,0,SOTON/O.Q. 392087,8.05,<NA>,S
837,838,0,3,"Sirota, Mr. Maurice",male,<NA>,0,0,392092,8.05,<NA>,S
1090,1091,<NA>,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,<NA>,0,0,65305,8.1125,<NA>,S
444,445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,<NA>,0,0,65306,8.1125,<NA>,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,<NA>,S
834,835,0,3,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3,<NA>,S
769,770,0,3,"Gronnestad, Mr. Daniel Danielsen",male,32.0,0,0,8471,8.3625,<NA>,S
652,653,0,3,"Kalvik, Mr. Johannes Halvorsen",male,21.0,0,0,8475,8.4333,<NA>,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,<NA>,S
1254,1255,<NA>,3,"Strilic, Mr. Ivan",male,27.0,0,0,315083,8.6625,<NA>,S
163,164,0,3,"Calic, Mr. Jovo",male,17.0,0,0,315093,8.6625,<NA>,S
158,159,0,3,"Smiljanic, Mr. Mile",male,<NA>,0,0,315037,8.6625,<NA>,S
534,535,0,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,<NA>,S
471,472,0,3,"Cacic, Mr. Luka",male,38.0,0,0,315089,8.6625,<NA>,S
894,895,<NA>,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,<NA>,S
928,929,<NA>,3,"Cacic, Miss. Manda",female,21.0,0,0,315087,8.6625,<NA>,S
844,845,0,3,"Culumovic, Mr. Jeso",male,17.0,0,0,315090,8.6625,<NA>,S
500,501,0,3,"Calic, Mr. Petar",male,17.0,0,0,315086,8.6625,<NA>,S
725,726,0,3,"Oreskovic, Mr. Luka",male,20.0,0,0,315094,8.6625,<NA>,S
1160,1161,<NA>,3,"Pokrnic, Mr. Mate",male,17.0,0,0,315095,8.6625,<NA>,S
821,822,1,3,"Lulic, Mr. Nikola",male,27.0,0,0,315098,8.6625,<NA>,S

#### Zwischenergebnis

* Es gibt Ausreißer an beiden Enden der Tabelle.
* Passagiere mit Ticket "LINE" haben gar nicht für die Fahrt bezahlen müssen.
* Passagiere mit Ticket "1601" haben wesentlich mehr als andere bezahlen müssen. Dies waren 8 Passagiere mit asiatischen Namen. Der einzelne Ticketpreis hätte hier aber nur (56,4958 / 8) = 7,062 Pfund betragen.

=> Idee: Wir entfernen alle Datensätze mit mehrfachen Ticketnummern.

In [10]:
# Zunächst bilden wir ein Array mit Ticketnummern.
#  Dieses enthält False-Werte, wenn die Ticketnummer mehrfach vorkommt, ansonsten True
tickets = fare_base['PassengerId'].groupby(fare_base['Ticket']).count() == 1
print(tickets.head())

Ticket
1222      True
14973     True
1601     False
21440     True
2223      True
Name: PassengerId, dtype: boolean

In [11]:
# Jetzt entfernen wir alle Zeilen, in denen False steht
#  (Dies sind die Ticketnummern, die mehrfach vorkommen.)
tickets = tickets[tickets]
print(tickets.head())

Ticket
1222       True
14973      True
21440      True
2223       True
3101264    True
Name: PassengerId, dtype: boolean

In [12]:
# Jetzt benutzen wir das Ergebnis und filtern die Datensätze im Data Frame, deren Ticketnummer
# in dieser Vergleichsliste von Ticketnummern vorkommt.
fare_new = fare_base[fare_base['Ticket'].isin(tickets.keys())]
display(fare_new)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,<NA>,S
818,819,0,3,"Holm, Mr. John Fredrik Alexander",male,43.0,0,0,C 7075,6.45,<NA>,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.0,0,0,3101264,6.4958,<NA>,S
804,805,1,3,"Hedman, Mr. Oskar Arvid",male,27.0,0,0,347089,6.975,<NA>,S
129,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.975,<NA>,S
1054,1055,<NA>,3,"Pearce, Mr. Ernest",male,<NA>,0,0,343271,7.0,<NA>,S
784,785,0,3,"Ali, Mr. William",male,25.0,0,0,SOTON/O.Q. 3101312,7.05,<NA>,S
1102,1103,<NA>,3,"Finoli, Mr. Luigi",male,<NA>,0,0,SOTON/O.Q. 3101308,7.05,<NA>,S
210,211,0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.05,<NA>,S
611,612,0,3,"Jardin, Mr. Jose Neto",male,<NA>,0,0,SOTON/O.Q. 3101305,7.05,<NA>,S
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.05,<NA>,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.05,<NA>,S
465,466,0,3,"Goncalves, Mr. Manuel Estanslas",male,38.0,0,0,SOTON/O.Q. 3101306,7.05,<NA>,S
1216,1217,<NA>,3,"Assam, Mr. Ali",male,23.0,0,0,SOTON/O.Q. 3101309,7.05,<NA>,S
363,364,0,3,"Asim, Mr. Adola",male,35.0,0,0,SOTON/O.Q. 3101310,7.05,<NA>,S
631,632,0,3,"Lundahl, Mr. Johan Svensson",male,51.0,0,0,347743,7.0542,<NA>,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.0,0,0,STON/O 2. 3101275,7.125,<NA>,S
590,591,0,3,"Rintamaki, Mr. Matti",male,35.0,0,0,STON/O 2. 3101273,7.125,<NA>,S
761,762,0,3,"Nirva, Mr. Iisakki Antino Aijo",male,41.0,0,0,SOTON/O2 3101272,7.125,<NA>,S
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.0,0,0,STON/O 2. 3101274,7.125,<NA>,S
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.0,0,0,C 17369,7.1417,<NA>,S
376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.0,0,0,C 7077,7.25,<NA>,S
785,786,0,3,"Harmer, Mr. Abraham (David Lishin)",male,25.0,0,0,374887,7.25,<NA>,S
491,492,0,3,"Windelov, Mr. Einar",male,21.0,0,0,SOTON/OQ 3101317,7.25,<NA>,S
425,426,0,3,"Wiseman, Mr. Phillippe",male,<NA>,0,0,A/4. 34244,7.25,<NA>,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.0,0,0,A/5 21174,7.25,<NA>,S
470,471,0,3,"Keefe, Mr. Arthur",male,<NA>,0,0,323592,7.25,<NA>,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.25,<NA>,S
250,251,0,3,"Reed, Mr. James George",male,<NA>,0,0,362316,7.25,<NA>,S
1014,1015,<NA>,3,"Carver, Mr. Alfred John",male,28.0,0,0,392095,7.25,<NA>,S
320,321,0,3,"Dennis, Mr. Samuel",male,22.0,0,0,A/5 21172,7.25,<NA>,S
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.0,0,0,C 7076,7.25,<NA>,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.25,<NA>,S
1177,1178,<NA>,3,"Franklin, Mr. Charles (Charles Fardon)",male,<NA>,0,0,SOTON/O.Q. 3101314,7.25,<NA>,S
592,593,0,3,"Elsbury, Mr. William James",male,47.0,0,0,A/5 3902,7.25,<NA>,S
1176,1177,<NA>,3,"Dennis, Mr. William",male,36.0,0,0,A/5 21175,7.25,<NA>,S
1306,1307,<NA>,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.25,<NA>,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,<NA>,0,0,Fa 265302,7.3125,<NA>,S
514,515,0,3,"Coleff, Mr. Satio",male,24.0,0,0,349209,7.4958,<NA>,S
663,664,0,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,<NA>,S
786,787,1,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,<NA>,S
478,479,0,3,"Karlsson, Mr. Nils August",male,22.0,0,0,350060,7.5208,<NA>,S
1061,1062,<NA>,3,"Lithman, Mr. Simon",male,<NA>,0,0,S.O./P.P. 251,7.55,<NA>,S
648,649,0,3,"Willey, Mr. Edward",male,<NA>,0,0,S.O./P.P. 751,7.55,<NA>,S
1158,1159,<NA>,3,"Warren, Mr. Charles William",male,<NA>,0,0,C.A. 49867,7.55,<NA>,S
1146,1147,<NA>,3,"MacKay, Mr. George William",male,<NA>,0,0,C.A. 42795,7.55,<NA>,S
1046,1047,<NA>,3,"Duquemin, Mr. Joseph",male,24.0,0,0,S.O./P.P. 752,7.55,<NA>,S
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.55,<NA>,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,<NA>,0,0,W./C. 6609,7.55,<NA>,S
649,650,1,3,"Stanley, Miss. Amy Zillah Elsie",female,23.0,0,0,CA. 2314,7.55,<NA>,S
1203,1204,<NA>,3,"Sadowitz, Mr. Harry",male,<NA>,0,0,LP 1588,7.575,<NA>,S
1232,1233,<NA>,3,"Lundstrom, Mr. Thure Edvin",male,32.0,0,0,350403,7.5792,<NA>,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.65,<NA>,S
1236,1237,<NA>,3,"Abelseth, Miss. Karen Marie",female,16.0,0,0,348125,7.65,<NA>,S
948,949,<NA>,3,"Abelseth, Mr. Olaus Jorgensen",male,25.0,0,0,348122,7.65,F G63,S
715,716,0,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.0,0,0,348124,7.65,F G73,S
699,700,0,3,"Humblen, Mr. Adolf Mathias Nicolai Olsen",male,42.0,0,0,348121,7.65,F G63,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.65,F G73,S
953,954,<NA>,3,"Bjorklund, Mr. Ernst Herbert",male,18.0,0,0,347090,7.75,<NA>,S
406,407,0,3,"Widegren, Mr. Carl/Charles Peter",male,51.0,0,0,347064,7.75,<NA>,S
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.75,<NA>,S
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.75,<NA>,S
775,776,0,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.0,0,0,347078,7.75,<NA>,S
719,720,0,3,"Johnson, Mr. Malkolm Joackim",male,33.0,0,0,347062,7.775,<NA>,S
408,409,0,3,"Birkeland, Mr. Hans Martin Monsen",male,21.0,0,0,312992,7.775,<NA>,S
1150,1151,<NA>,3,"Midtsjo, Mr. Karl Albert",male,21.0,0,0,345501,7.775,<NA>,S
1289,1290,<NA>,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.775,<NA>,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.0,0,0,347068,7.775,<NA>,S
994,995,<NA>,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.0,0,0,347070,7.775,<NA>,S
554,555,1,3,"Ohman, Miss. Velin",female,22.0,0,0,347085,7.775,<NA>,S
675,676,0,3,"Edvardsson, Mr. Gustaf Hjalmar",male,18.0,0,0,349912,7.775,<NA>,S
1277,1278,<NA>,3,"Aronsson, Mr. Ernst Axel Algot",male,24.0,0,0,349911,7.775,<NA>,S
764,765,0,3,"Eklund, Mr. Hans Linus",male,16.0,0,0,347074,7.775,<NA>,S
982,983,<NA>,3,"Pedersen, Mr. Olaf",male,<NA>,0,0,345498,7.775,<NA>,S
667,668,0,3,"Rommetvedt, Mr. Knud Paust",male,<NA>,0,0,312993,7.775,<NA>,S
805,806,0,3,"Johansson, Mr. Karl Johan",male,31.0,0,0,347063,7.775,<NA>,S
107,108,1,3,"Moss, Mr. Albert Johan",male,<NA>,0,0,312991,7.775,<NA>,S
807,808,0,3,"Pettersson, Miss. Ellen Natalia",female,18.0,0,0,347087,7.775,<NA>,S
1088,1089,<NA>,3,"Nilsson, Miss. Berta Olivia",female,18.0,0,0,347066,7.775,<NA>,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.0,0,0,347067,7.775,<NA>,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.775,<NA>,S
1191,1192,<NA>,3,"Olsson, Mr. Oscar Wilhelm",male,32.0,0,0,347079,7.775,<NA>,S
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.775,<NA>,S
1211,1212,<NA>,3,"Andersson, Mr. Johan Samuel",male,26.0,0,0,347075,7.775,<NA>,S
1303,1304,<NA>,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.775,<NA>,S
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.0,0,0,347069,7.775,<NA>,S
499,500,0,3,"Svensson, Mr. Olof",male,24.0,0,0,350035,7.7958,<NA>,S
756,757,0,3,"Carlsson, Mr. August Sigfrid",male,28.0,0,0,350042,7.7958,<NA>,S
395,396,0,3,"Johansson, Mr. Erik",male,22.0,0,0,350052,7.7958,<NA>,S
688,689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.0,0,0,350036,7.7958,<NA>,S
1114,1115,<NA>,3,"Karlsson, Mr. Einar Gervasius",male,21.0,0,0,350053,7.7958,<NA>,S
986,987,<NA>,3,"Tenglin, Mr. Gunnar Isidor",male,25.0,0,0,350033,7.7958,<NA>,S
391,392,1,3,"Jansson, Mr. Carl Olof",male,21.0,0,0,350034,7.7958,<NA>,S
1117,1118,<NA>,3,"Asplund, Mr. Johan Charles",male,23.0,0,0,350054,7.7958,<NA>,S
1017,1018,<NA>,3,"Brobeck, Mr. Karl Rudolf",male,22.0,0,0,350045,7.7958,<NA>,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.7958,<NA>,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8,<NA>,S
933,934,<NA>,3,"Goldsmith, Mr. Nathan",male,41.0,0,0,SOTON/O.Q. 3101263,7.85,<NA>,S
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.0,0,0,347464,7.8542,<NA>,S
833,834,0,3,"Augustsson, Mr. Albert",male,23.0,0,0,347468,7.8542,<NA>,S
1086,1087,<NA>,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.0,0,0,347465,7.8542,<NA>,S
1126,1127,<NA>,3,"Vendel, Mr. Olof Edvin",male,20.0,0,0,350416,7.8542,<NA>,S
569,570,1,3,"Jonsson, Mr. Carl",male,32.0,0,0,350417,7.8542,<NA>,S
771,772,0,3,"Jensen, Mr. Niels Peder",male,48.0,0,0,350047,7.8542,<NA>,S
1152,1153,<NA>,3,"Nilsson, Mr. August Ferdinand",male,21.0,0,0,350410,7.8542,<NA>,S
623,624,0,3,"Hansen, Mr. Henry Damsgaard",male,21.0,0,0,350029,7.8542,<NA>,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,<NA>,S
640,641,0,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,<NA>,S
1190,1191,<NA>,3,"Johansson, Mr. Nils",male,29.0,0,0,347467,7.8542,<NA>,S
1209,1210,<NA>,3,"Jonsson, Mr. Nils Hilding",male,27.0,0,0,350408,7.8542,<NA>,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,<NA>,S
1048,1049,<NA>,3,"Lundin, Miss. Olga Elida",female,23.0,0,0,347469,7.8542,<NA>,S
1026,1027,<NA>,3,"Carlsson, Mr. Carl Robert",male,24.0,0,0,350409,7.8542,<NA>,S
396,397,0,3,"Olsson, Miss. Elina",female,31.0,0,0,350407,7.8542,<NA>,S
989,990,<NA>,3,"Braf, Miss. Elin Ester Maria",female,20.0,0,0,347471,7.8542,<NA>,S
315,316,1,3,"Nilsson, Miss. Helmina Josefina",female,26.0,0,0,347470,7.8542,<NA>,S
422,423,0,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.875,<NA>,S
1248,1249,<NA>,3,"Lockyer, Mr. Edward",male,<NA>,0,0,1222,7.8792,<NA>,S
1134,1135,<NA>,3,"Hyman, Mr. Abraham",male,<NA>,0,0,3470,7.8875,<NA>,S
810,811,0,3,"Alexander, Mr. William",male,26.0,0,0,3474,7.8875,<NA>,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.8958,<NA>,S
601,602,0,3,"Slabenoff, Mr. Petco",male,<NA>,0,0,349214,7.8958,<NA>,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,<NA>,0,0,349215,7.8958,<NA>,S
606,607,0,3,"Karaic, Mr. Milan",male,30.0,0,0,349246,7.8958,<NA>,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,<NA>,S
1186,1187,<NA>,3,"Angheloff, Mr. Minko",male,26.0,0,0,349202,7.8958,<NA>,S
753,754,0,3,"Jonkoff, Mr. Lalio",male,23.0,0,0,349204,7.8958,<NA>,S
628,629,0,3,"Bostandyeff, Mr. Guentcho",male,26.0,0,0,349224,7.8958,<NA>,S
410,411,0,3,"Sdycoff, Mr. Todor",male,<NA>,0,0,349222,7.8958,<NA>,S
108,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,<NA>,S
739,740,0,3,"Nankoff, Mr. Minko",male,<NA>,0,0,349218,7.8958,<NA>,S
1225,1226,<NA>,3,"Cor, Mr. Ivan",male,27.0,0,0,349229,7.8958,<NA>,S
650,651,0,3,"Mitkoff, Mr. Mito",male,<NA>,0,0,349221,7.8958,<NA>,S
738,739,0,3,"Ivanoff, Mr. Kanio",male,<NA>,0,0,349201,7.8958,<NA>,S
656,657,0,3,"Radeff, Mr. Alexander",male,<NA>,0,0,349223,7.8958,<NA>,S
76,77,0,3,"Staneff, Mr. Ivan",male,<NA>,0,0,349208,7.8958,<NA>,S
974,975,<NA>,3,"Demetri, Mr. Marinko",male,<NA>,0,0,349238,7.8958,<NA>,S
29,30,0,3,"Todoroff, Mr. Lalio",male,<NA>,0,0,349216,7.8958,<NA>,S
384,385,0,3,"Plotcharsky, Mr. Vasil",male,<NA>,0,0,349227,7.8958,<NA>,S
962,963,<NA>,3,"Minkoff, Mr. Lazar",male,21.0,0,0,349211,7.8958,<NA>,S
1156,1157,<NA>,3,"Lyntakoff, Mr. Stanko",male,<NA>,0,0,349235,7.8958,<NA>,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,<NA>,S
951,952,<NA>,3,"Dika, Mr. Mirko",male,17.0,0,0,349232,7.8958,<NA>,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,<NA>,S
294,295,0,3,"Mineff, Mr. Ivan",male,24.0,0,0,349233,7.8958,<NA>,S
287,288,0,3,"Naidenoff, Mr. Penko",male,22.0,0,0,349206,7.8958,<NA>,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,<NA>,S
1025,1026,<NA>,3,"Dintcheff, Mr. Valtcho",male,43.0,0,0,349226,7.8958,<NA>,S
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28.0,0,0,349243,7.8958,<NA>,S
223,224,0,3,"Nenkoff, Mr. Christo",male,<NA>,0,0,349234,7.8958,<NA>,S
519,520,0,3,"Pavlovic, Mr. Stefo",male,32.0,0,0,349242,7.8958,<NA>,S
878,879,0,3,"Laleff, Mr. Kristo",male,<NA>,0,0,349217,7.8958,<NA>,S
1100,1101,<NA>,3,"Delalic, Mr. Redjo",male,25.0,0,0,349250,7.8958,<NA>,S
521,522,0,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,<NA>,S
189,190,0,3,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.8958,<NA>,S
561,562,0,3,"Sivic, Mr. Husein",male,40.0,0,0,349251,7.8958,<NA>,S
794,795,0,3,"Dantcheff, Mr. Ristiu",male,25.0,0,0,349203,7.8958,<NA>,S
947,948,<NA>,3,"Cor, Mr. Bartol",male,35.0,0,0,349230,7.8958,<NA>,S
566,567,0,3,"Stoytcheff, Mr. Ilia",male,19.0,0,0,349205,7.8958,<NA>,S
321,322,0,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.8958,<NA>,S
335,336,0,3,"Denkoff, Mr. Mitto",male,<NA>,0,0,349225,7.8958,<NA>,S
901,902,<NA>,3,"Ilieff, Mr. Ylio",male,<NA>,0,0,349220,7.8958,<NA>,S
646,647,0,3,"Cor, Mr. Liudevit",male,19.0,0,0,349231,7.8958,<NA>,S
744,745,1,3,"Stranden, Mr. Juho",male,31.0,0,0,STON/O 2. 3101288,7.925,<NA>,S
936,937,<NA>,3,"Peltomaki, Mr. Nikolai Johannes",male,25.0,0,0,STON/O 2. 3101291,7.925,<NA>,S
988,989,<NA>,3,"Makinen, Mr. Kalle Edvard",male,29.0,0,0,STON/O 2. 3101268,7.925,<NA>,S
963,964,<NA>,3,"Nieminen, Miss. Manta Josefina",female,29.0,0,0,3101297,7.925,<NA>,S
816,817,0,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.925,<NA>,S
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.925,<NA>,S
1142,1143,<NA>,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.0,0,0,SOTON/O2 3101284,7.925,<NA>,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,<NA>,S
216,217,1,3,"Honkanen, Miss. Eliina",female,27.0,0,0,STON/O2. 3101283,7.925,<NA>,S
579,580,1,3,"Jussila, Mr. Eiriik",male,32.0,0,0,STON/O 2. 3101286,7.925,<NA>,S
528,529,0,3,"Salonen, Mr. Johan Werner",male,39.0,0,0,3101296,7.925,<NA>,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.0,0,0,STON/O 2. 3101280,7.925,<NA>,S
414,415,1,3,"Sundman, Mr. Johan Julian",male,44.0,0,0,STON/O 2. 3101269,7.925,<NA>,S
400,401,1,3,"Niskanen, Mr. Juha",male,39.0,0,0,STON/O 2. 3101289,7.925,<NA>,S
636,637,0,3,"Leinonen, Mr. Antti Gustaf",male,32.0,0,0,STON/O 2. 3101292,7.925,<NA>,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.925,<NA>,S
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.0,0,0,STON/O 2. 3101294,7.925,<NA>,S
1038,1039,<NA>,3,"Davies, Mr. Evan",male,22.0,0,0,SC/A4 23568,8.05,<NA>,S
1029,1030,<NA>,3,"Drapkin, Miss. Jennie",female,23.0,0,0,SOTON/OQ 392083,8.05,<NA>,S
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,<NA>,0,0,A/5 2466,8.05,<NA>,S
1021,1022,<NA>,3,"Spinner, Mr. Henry John",male,32.0,0,0,STON/OQ. 369943,8.05,<NA>,S
1020,1021,<NA>,3,"Petersen, Mr. Marius",male,24.0,0,0,342441,8.05,<NA>,S
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.0,0,0,7598,8.05,<NA>,S
372,373,0,3,"Beavan, Mr. William Thomas",male,19.0,0,0,323951,8.05,<NA>,S
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19.0,0,0,A/5. 10482,8.05,<NA>,S
984,985,<NA>,3,"Guest, Mr. Robert",male,<NA>,0,0,376563,8.05,<NA>,S
978,979,<NA>,3,"Badman, Miss. Emily Louisa",female,18.0,0,0,A/4 31416,8.05,<NA>,S
967,968,<NA>,3,"Miles, Mr. Frank",male,<NA>,0,0,359306,8.05,<NA>,S
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)",female,<NA>,0,0,343095,8.05,<NA>,S
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.0,0,0,SOTON/O.Q. 392078,8.05,E10,S
454,455,0,3,"Peduzzi, Mr. Joseph",male,<NA>,0,0,A/5 2817,8.05,<NA>,S
461,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.05,<NA>,S
927,928,<NA>,3,"Roth, Miss. Sarah A",female,<NA>,0,0,342712,8.05,<NA>,S
990,991,<NA>,3,"Nancarrow, Mr. William Henry",male,33.0,0,0,A./5. 3338,8.05,<NA>,S
222,223,0,3,"Green, Mr. George Henry",male,51.0,0,0,21440,8.05,<NA>,S
401,402,0,3,"Adams, Mr. John",male,26.0,0,0,341826,8.05,<NA>,S
464,465,0,3,"Maisner, Mr. Simon",male,<NA>,0,0,A/S 2816,8.05,<NA>,S
1304,1305,<NA>,3,"Spector, Mr. Woolf",male,<NA>,0,0,A.5. 3236,8.05,<NA>,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,<NA>,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.05,<NA>,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.05,<NA>,S
45,46,0,3,"Rogers, Mr. William John",male,<NA>,0,0,S.C./A.4. 23567,8.05,<NA>,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,<NA>,0,0,374746,8.05,<NA>,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,<NA>,0,0,SOTON/OQ 392086,8.05,<NA>,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.0,0,0,343275,8.05,<NA>,S
90,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.05,<NA>,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.0,0,0,SOTON/OQ 392089,8.05,<NA>,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,<NA>,0,0,374910,8.05,<NA>,S
112,113,0,3,"Barton, Mr. David John",male,22.0,0,0,324669,8.05,<NA>,S
1159,1160,<NA>,3,"Howard, Miss. May Elizabeth",female,<NA>,0,0,A. 2. 39186,8.05,<NA>,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,<NA>,0,0,A4. 54510,8.05,<NA>,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,<NA>,S
1148,1149,<NA>,3,"Niklasson, Mr. Samuel",male,28.0,0,0,363611,8.05,<NA>,S
157,158,0,3,"Corn, Mr. Harry",male,30.0,0,0,SOTON/OQ 392090,8.05,<NA>,S
1112,1113,<NA>,3,"Reynolds, Mr. Harold J",male,21.0,0,0,342684,8.05,<NA>,S
1110,1111,<NA>,3,"Thomson, Mr. Alexander Morrison",male,<NA>,0,0,32302,8.05,<NA>,S
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.0,0,0,A/5 3540,8.05,<NA>,S
1180,1181,<NA>,3,"Ford, Mr. Arthur",male,<NA>,0,0,A/5 1478,8.05,<NA>,S
482,483,0,3,"Rouse, Mr. Richard Henry",male,50.0,0,0,A/5 3594,8.05,<NA>,S
1307,1308,<NA>,3,"Ware, Mr. Frederick",male,<NA>,0,0,359309,8.05,<NA>,S
574,575,0,3,"Rush, Mr. Alfred George John",male,16.0,0,0,A/4. 20589,8.05,<NA>,S
563,564,0,3,"Simmons, Mr. John",male,<NA>,0,0,SOTON/OQ 392082,8.05,<NA>,S
696,697,0,3,"Kelly, Mr. James",male,44.0,0,0,363592,8.05,<NA>,S
588,589,0,3,"Gilinski, Mr. Eliezer",male,22.0,0,0,14973,8.05,<NA>,S
511,512,0,3,"Webber, Mr. James",male,<NA>,0,0,SOTON/OQ 3101316,8.05,<NA>,S
589,590,0,3,"Murdlin, Mr. Joseph",male,<NA>,0,0,A./5. 3235,8.05,<NA>,S
676,677,0,3,"Sawyer, Mr. Frederick Charles",male,24.5,0,0,342826,8.05,<NA>,S
488,489,0,3,"Somerton, Mr. Francis William",male,30.0,0,0,A.5. 18509,8.05,<NA>,S
814,815,0,3,"Tomlin, Mr. Ernest Portage",male,30.5,0,0,364499,8.05,<NA>,S
603,604,0,3,"Torber, Mr. Ernst William",male,44.0,0,0,364511,8.05,<NA>,S
668,669,0,3,"Cook, Mr. Jacob",male,43.0,0,0,A/5 3536,8.05,<NA>,S
758,759,0,3,"Theobald, Mr. Thomas Leonard",male,34.0,0,0,363294,8.05,<NA>,S
494,495,0,3,"Stanley, Mr. Edward Roland",male,21.0,0,0,A/4 45380,8.05,<NA>,S
614,615,0,3,"Brocklebank, Mr. William Alfred",male,35.0,0,0,364512,8.05,<NA>,S
564,565,0,3,"Meanwell, Miss. (Marion Ogden)",female,<NA>,0,0,SOTON/O.Q. 392087,8.05,<NA>,S
837,838,0,3,"Sirota, Mr. Maurice",male,<NA>,0,0,392092,8.05,<NA>,S
1090,1091,<NA>,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,<NA>,0,0,65305,8.1125,<NA>,S
444,445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,<NA>,0,0,65306,8.1125,<NA>,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,<NA>,S
834,835,0,3,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3,<NA>,S
769,770,0,3,"Gronnestad, Mr. Daniel Danielsen",male,32.0,0,0,8471,8.3625,<NA>,S
652,653,0,3,"Kalvik, Mr. Johannes Halvorsen",male,21.0,0,0,8475,8.4333,<NA>,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,<NA>,S
1254,1255,<NA>,3,"Strilic, Mr. Ivan",male,27.0,0,0,315083,8.6625,<NA>,S
163,164,0,3,"Calic, Mr. Jovo",male,17.0,0,0,315093,8.6625,<NA>,S
158,159,0,3,"Smiljanic, Mr. Mile",male,<NA>,0,0,315037,8.6625,<NA>,S
534,535,0,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,<NA>,S
471,472,0,3,"Cacic, Mr. Luka",male,38.0,0,0,315089,8.6625,<NA>,S
894,895,<NA>,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,<NA>,S
928,929,<NA>,3,"Cacic, Miss. Manda",female,21.0,0,0,315087,8.6625,<NA>,S
844,845,0,3,"Culumovic, Mr. Jeso",male,17.0,0,0,315090,8.6625,<NA>,S
500,501,0,3,"Calic, Mr. Petar",male,17.0,0,0,315086,8.6625,<NA>,S
725,726,0,3,"Oreskovic, Mr. Luka",male,20.0,0,0,315094,8.6625,<NA>,S
1160,1161,<NA>,3,"Pokrnic, Mr. Mate",male,17.0,0,0,315095,8.6625,<NA>,S
821,822,1,3,"Lulic, Mr. Nikola",male,27.0,0,0,315098,8.6625,<NA>,S
1171,1172,<NA>,3,"Oreskovic, Miss. Jelka",female,23.0,0,0,315085,8.6625,<NA>,S
836,837,0,3,"Pasic, Mr. Jakob",male,21.0,0,0,315097,8.6625,<NA>,S
1201,1202,<NA>,3,"Cacic, Mr. Jego Grga",male,18.0,0,0,315091,8.6625,<NA>,S
404,405,0,3,"Oreskovic, Miss. Marija",female,20.0,0,0,315096,8.6625,<NA>,S

In [13]:
# Ticketpreis anhand des Medians dieser Datensätze schätzen
fare_estimated = fare_new['Fare'].dropna().median()
print(fare_estimated)

7.8958

In [14]:
# Was wäre, wenn wir den Mittelwert statt des Medians nehmen würden?
fare_mean = fare_new['Fare'].dropna().mean()
print(fare_mean)

8.158160135135136

In [15]:
# Median mit doppelten Ticketnummern
fare_median = fare_base['Fare'].dropna().median()
print(fare_median)

7.8958

In [16]:
# Mittelwert mit doppelten Ticketnummern
fare_mean = fare_base['Fare'].dropna().mean()
print(fare_mean)

9.593713003095974

### Ergebnis

Die Schätzung für den fehlenden Wert des Attributs Fare ist 7,896 (als Median der Datensätze von Passagieren mit gleichen Merkmalen). Der Mittelwert ist etwas höher und beträgt 8,158. Wenn wir die Datensätze mit den doppelten Ticketnummern nicht entfernt hätten, dann wären der Median ebenfalls 7,896 gewesen. Der Mittelwert wäre allerdings mit 9,594 deutlich höher gewesen.

Fare = 7,896 Pfund