## Child Phase 6 (Deployment): Random Forest

* Autorin: Anna (i3-Versicherung)
* Webseite: [Data Science Training - Kapitel 16](https://data-science.training/kapitel-16/)
* Datum: 23.03.2023

Version 3

In [4]:
# Pandas Paket (Package) importieren
#  Datenstrukturen und Datenanalyse, I/O
#  https://pandas.pydata.org/pandas-docs/stable/
import pandas as pd
# Pickle Paket (Package) importieren
#  Objekte serialisieren
#  https://docs.python.org/3/library/pickle.html
import pickle as pk

In [5]:
# Datenversion festlegen: 3, 4, 5, 6
version  = 3 # 3 ist das beste Modell 
# Modell-Abkürzung festlegen: rf = Random Forest
shortcut = 'rf'

In [6]:
# Anwendungsdaten als Pandas Data Frame (df) aus Excel-Datei laden
#  (KNIME: "Excel Reader")
filename = '../../data/titanic/age/application_v' + str(version) + '.xlsx'
df_app   = pd.read_excel(filename)

In [7]:
# Modell laden
#  (KNIME: "PMML Reader")
filename = '../../models/titanic/age/' + shortcut + '_v' + str(version)
model    = pk.load(open(filename, 'rb'))

In [8]:
df_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PassengerId       263 non-null    int64
 1   SibSp             263 non-null    int64
 2   Parch             263 non-null    int64
 3   Fare              263 non-null    float64
 4   TicketCount       263 non-null    int64
 5   LogFare           263 non-null    float64
 6   FirstnameMeanAge  263 non-null    float64
 7   Pclass_2          263 non-null    int64
 8   Pclass_3          263 non-null    int64
 9   Sex_male          263 non-null    int64
 10  Embarked_Q        263 non-null    int64
 11  Embarked_S        263 non-null    int64
 12  Title_Master      263 non-null    int64
 13  Title_Miss        263 non-null    int64
 14  Title_Mrs         263 non-null    int64
 15  Title_Rare        263 non-null    int64
dtypes: float64(3), int64(13)
memory usage: 33.0 KB

In [9]:
# Anwendungsdaten: Beschreibende Attribute extrahieren (ohne PassengerId)
X_app = df_app.iloc[:,1:].values

In [10]:
# Prognosen für Anwendungsdaten erstellen
#  (KNIME: "XYZ Predictor")
df_app['Child'] = model.predict(X_app)

In [11]:
# Ergebnisse filtern
#  (KNIME: "Column Filter")
df_res = df_app.filter(['PassengerId', 'Child'])
# Ergebnisse anzeigen
display(df_res)

     PassengerId  Child
0              6      0
1             18      0
2             20      0
3             27      0
4             29      0
..           ...    ...
258         1300      0
259         1302      0
260         1305      0
261         1308      0
262         1309      1

[263 rows x 2 columns]

In [12]:
# Ergebnisse speichern
#  (KNIME: "Excel Writer")
df_res.to_excel('../../data/titanic/age/results_v3.xlsx', index=False)